@font-face {
  font-family: 'DMSans';
  src: url(assets/fonts/DMSans-VariableFont.ttf);
}
@font-face {
  font-family: 'DMSans-Italic';
  src: url(assets/fonts/DMSans-Italic-VariableFont.ttf);
}

:root {
  --purple-main: #7551dc;
  --purple-bright: #d8d1fc;

  --yellow-main: #ffcc6a;
  --yellow-bright: #f9eee2;

  --black: #121212;
  --white: #fff;

  --background-color: #f6f5f6;
}

.content-section {
  width: 100%;
  justify-content: center;
  padding: 20px;
  display: grid;
  grid-template: repeat(16, 1fr) / repeat(14, 1fr);
  gap: 32px;
  background-color: var(--background-color);
}
.content-item {
  border-radius: 10px;
}

.module-1 {
  background-color: var(--yellow-bright);
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 7;
}
.module-1 .module-header {
  font-family: 'DMSans';
  font-size: 40px;
  line-height: 90%;
  letter-spacing: -2px;
  font-weight: 500;
  color: var(--black);
  padding: 78px 32px 24px 32px;
}
.module-1 .underline-text {
  color: var(--purple-main);
  font-family: 'DMSans-Italic';
}
.module-1 .module-image {
  width: 100%;
  min-height: 90px;
  max-height: 100%;
  padding: 0px 32px 78px 32px;
}

.module-2 {
  background-color: var(--purple-main);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-column-start: 4;
  grid-column-end: 12;
  grid-row-start: 1;
  grid-row-end: 6;
}
.module-2 .module-header {
  font-weight: 500;
  color: var(--white);
  font-family: 'DMSans';
  font-size: 62px;
  line-height: 93.5%;
  letter-spacing: -3px;
  text-align: center;
  padding: 62px 75px 0px 75px;
}
.module-2 .underline-text {
  color: var(--yellow-main);
}
.module-2 .italic-text {
  font-family: 'DMSans-Italic';
  font-weight: 500;
}
.module-2 .module-image {
  max-width: 100%;
  min-width: 192px;
  padding-top: 24px;
}
.module-2 .module-description {
  font-size: 18px;
  line-height: 111%;
  letter-spacing: 0px;
  font-family: 'DMSans';
  color: var(--white);
  padding-top: 8px;
}

.module-3 {
  background-color: var(--purple-bright);
  overflow: hidden;
  grid-column-start: 12;
  grid-column-end: 16;
  grid-row-start: 1;
  grid-row-end: 10;
}
.module-3 .module-header {
  font-weight: 500;
  color: var(--black);
  font-family: 'DMSans';
  font-size: 32px;
  line-height: 87.5%;
  letter-spacing: -2px;
  text-align: start;
  padding: 50px 32px 0px 32px;
}
.module-3 .module-image {
  max-width: 100%;
  min-width: 357px;
  min-height: 318px;
  padding-top: 24px;
  padding-left: 32px;
}
.module-3 .module-description {
  font-size: 18px;
  line-height: 111%;
  letter-spacing: 0px;
  font-family: 'DMSans';
  color: var(--black);
  padding: 24px 32px 50px 32px;
}

.module-4 {
  background-color: var(--yellow-main);
  overflow: hidden;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 7;
  grid-row-end: 14;
}
.module-4 .module-header {
  font-family: 'DMSans';
  font-size: 40px;
  line-height: 90%;
  letter-spacing: -2px;
  font-weight: 500;
  color: var(--black);
  padding: 24px 24px 0px 24px;
}
.module-4 .module-image {
  min-width: 220px;
  min-height: 222px;
  max-height: 100%;
  padding: 55px 12px 24px 24px;
}

.module-5 {
  background-color: var(--white);
  overflow: hidden;
  grid-column-start: 4;
  grid-column-end: 8;
  grid-row-start: 6;
  grid-row-end: 10;
}
.module-5 .module-image {
  min-width: 316px;
  min-height: 66px;
  max-height: 100%;
  padding: 24px 0px 0px 24px;
}
.module-5 .module-header {
  font-weight: 500;
  color: var(--black);
  font-family: 'DMSans';
  font-size: 32px;
  line-height: 87.5%;
  letter-spacing: -2px;
  text-align: start;
  padding: 20px 24px 24px 24px;
}

.module-6 {
  background-color: var(--yellow-main);
  grid-column-start: 8;
  grid-column-end: 12;
  grid-row-start: 6;
  grid-row-end: 10;
}
.module-6 .module-header {
  font-weight: 500;
  color: var(--black);
  font-family: 'DMSans';
  font-size: 32px;
  line-height: 87.5%;
  letter-spacing: -2px;
  text-align: start;
  padding: 24px 93px 16px 24px;
}
.module-6 .module-image {
  min-width: 208px;
  min-height: 157px;
  max-height: 100%;
  padding: 0px 24px 0px 24px;
}

.module-7 {
  background-color: var(--white);
  grid-column-start: 8;
  grid-column-end: 4;
  grid-row-start: 10;
  grid-row-end: 14;
}
.module-7 .module-header {
  font-weight: 500;
  color: var(--black);
  font-family: 'DMSans';
  font-size: 62px;
  line-height: 93.5%;
  letter-spacing: -3px;
  text-align: start;
  padding: 24px 90px 15px 24px;
}
.module-7 .module-description {
  font-size: 18px;
  line-height: 111%;
  letter-spacing: 0px;
  font-family: 'DMSans';
  color: var(--black);
  padding: 15px 40px 0px 24px;
}
.module-7 .module-image {
  min-width: 178px;
  min-height: 66px;
  max-height: 100%;
  padding: 39px 53px 24px 24px;
}

.module-8 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--purple-main);
  grid-column-start: 8;
  grid-column-end: 16;
  grid-row-start: 10;
  grid-row-end: 14;
}
.module-8 .module-image {
  min-width: 228px;
  min-height: 200px;
  max-height: 100%;
  padding: 24px 12px 24px 24px;
}
.module-8 .module-header {
  font-family: 'DMSans';
  font-size: 40px;
  line-height: 90%;
  letter-spacing: -2px;
  font-weight: 500;
  text-align: start;
  padding-right: 24px;
  color: var(--background-color);
}
